= title "Quotes"

%h1
	All Quotes
	%small= link_to 'Add New', new_quote_path if admin?

= render 'quotes/search'

.quotes
	.quote.heading
		.content Quote
		.context Context
		.source= link_to_sorted "By", :official_name
		.category= link_to_sorted "Category", :name
		- if admin?
			.controls &nbsp;
	- @quotes.each do |quote|
		.quote
			.content= quote.content
			.context= quote.context
			.source= link_to quote.source, quote.source
			.category= link_to quote.category, quote.category
			- if admin?
				.controls
					= link_to 'Edit', edit_quote_path(quote), :class => 'small button'
					= link_to 'Delete', quote, :method => :delete, :confirm => 'Are you sure?', :class => 'small danger button'

= paginate @quotes