= title "Quotes"
%h1 All Quotes

.search
	= form_tag quotes_path, :method => :get do
		= label_tag :search, 'Keyword Search'
		= text_field_tag :search, params[:search]
		= submit_tag 'Search', :name => nil
		= link_to 'Clear', quotes_path, :class => 'button'
		%span.results= pluralize(@quotes.total_count, 'results') if params[:search]

%table
	%thead
		%tr
			%th Quote
			%th Context
			%th By
			%th Category
	%tbody
		- @quotes.each do |quote|
			%tr
				%td= quote.content
				%td= quote.context
				%td= link_to quote.source, quote.source
				%td= link_to quote.category, quote.source

= paginate @quotes