= title @source.to_s
%h1
	= @source.full_name
	%small= pluralize( @source.quotes.count, 'quotes' )
.bio= @source.bio
%table
	%thead
		%tr
			%th Quote
			%th Context
			%th= link_to_sorted "Category", :name
	%tbody
		- if @quotes
			- @quotes.each do |quote|
				%tr
					%td= quote.content
					%td= quote.context
					%td= link_to quote.category, quote.category