= title @category.to_s
%h1
	= @category.name
	%small= pluralize( @category.quotes.count, 'quotes' )
%table
	%thead
		%tr
			%th Quote
			%th Context
			%th Source
	%tbody
		- @category.quotes.each do |quote|
			%tr
				%td= quote.content
				%td= quote.context
				%td= link_to quote.source, quote.source